{{!-- {{debug this}} --}}
{{> header}}
<div class="container">
  <div class="row">
    <h2>OSS list</h2>
    <div class="col-md-8">
      <ul class="nav nav-pills nav-justified">
        <li><a href="/users/{{user_id}}">Home</a></li>
        {{#each shops}}
          <li><a href="/shops/{{_id}}">{{name}}</a></li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>