{{!-- {{debug this}} --}}
{{> header}}
<div class="container">
	<div class="row">
		<div class="col-md-7">
			.col-md-7
			{{!-- {{> view}} --}}
		</div>
		<div class="col-md-5">.col-md-5</div>
	</div>
</div>
{{!-- /container --}}